/* Light Mode */
:root {
  /* Background colors */
  --bg-primary: #f5f4f4;

  /* Text colors */
  --text-title: #1c1c1c;
  --text-content: #4b5563;
  --text-link: #2563eb;
}

/* Dark Mode */
.dark {
  /* Background colors */
  --bg-primary: #1c1c1c;

  /* Text colors */
  --text-title: #f5f4f4;
  --text-content: #d1d5db;
  --text-link: #3b82f6;
}
